doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .page(id="page1")
      include blocks/header
      +header()
      .content
        .container
          .content__container
            aside.aside
              include blocks/aside-nav
            main.main
              h2.page__title ГАЗЕТА «АВАНГАРД»
              .textarea
                .float-right
                  img(data-src="img/gallery/image20.jpg", alt="").lazy
                  img(data-src="img/gallery/image21.jpg", alt="").lazy
                  img(data-src="img/gallery/image22.jpg", alt="").lazy
                p Газета — важнейшее средство развития корпоративной культуры. 
                p 7 ноября 1929 года вышел в свет первый номер "Кондопожского бумажника". Газета издавалась на русском и финском языках, на 4 страницах, периодичность — один раз в месяц. Тираж — 1000 экземпляров.
                p С 1933 года газета "Кондопожский бумажник" стала называться "За темпы". Газета — орган коллектива ВКП(б), фабкома, заводоуправления Кондопожской бумажной фабрики.
                p В 1935 году многотиражка меняет свое название на "Кировец". В этом же году предприятие стало носить имя С.М.Кирова. Газета — объединенный орган партийной, профсоюзной и комсомольской организаций Кондопожского целлюлозно-бумажного комбината. Печаталась газета до 1941 года. После долгого перерыва 21 июня 1950 года газета "Кировец" с 1-го номера вновь вышла в свет под этим же названием.
                p С 20 сентября 1964 года газета стала называться "Авангард".
                p Сейчас газета "Авангард" выходит еженедельно на 16 полосах, тираж — 1200 экземпляров. 
                p.align-left 
                  strong РЕДАКЦИЯ ГАЗЕТЫ<br>
                  | Контактное лицо: главный редактор – Солоусова Татьяна Альбертовна<br> Адрес: г. Кондопога, ул. Промышленная 2
                  |  Контактные телефоны:<br> 
                  |  Редактор: 8(81451) 3-61-24<br> 
                  |  Корреспонденты: 8(81451) 3-64-98<br> 
                  |  Контактный e-mail: avangard@kbk.onego.ru<br> 
                  |  Группа в социальной сети «ВКонтакте»: https://vk.com/avangardgazeta
                p Отдел рекламы/факс: 8(81451) 3-65-50, av_raklama@mail.ru
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")