doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .page(id="page1")
      include blocks/header
      +header()
      .content
        .container
          .content__container
            aside.aside
              include blocks/aside-nav
            main.main
              h2.page__title ОБУЧЕНИЕ
              .textarea
                img(data-src='img/gallery/education.jpg', alt="").lazy.float-right
                p В области обучения АО «Кондопожский ЦБК» реализует ряд программ,  касающихся подготовки, переподготовки, повышения квалификации и развития персонала.
                p В качестве преподавателей и тренеров привлекаются как специалисты предприятия, так и приглашенные преподаватели. Предприятие имеет давние связи с учебными центрами республики, Санкт-Петербурга, Москвы и других регионов.
                p Одним из направлений обучения персонала является техническое обучение, охватывающее около 1800 работников предприятия. Обучение рабочих проходит ежегодно и обеспечивает рост компетентности персонала при выполнении работы, более быстрой адаптации сотрудников и передаче опыта путем наставничества.
                p Предприятие активно сотрудничает с крупными фирмами, поставляющими оборудование для бумагоделательных машин, приборы и установки. Регулярно для специалистов предприятия проводятся семинары и встречи.
                p Внутреннее обучение касается не только рабочих, но и инженерно-технического состава, руководителей служб и начальников цехов. За последний год реализованы программы производственной тематики по обучению сменных мастеров, программы по экологии для инженеров-технологов и руководителей цехов. Также большое внимание уделяется развитию управленческих компетенций руководителей младшего и среднего звена. В 2018 году управленческим компетенциям обучились 36 линейных руководителей.
                p Регулярно на курсах повышения квалификации получают новые знания рабочие и инженеры всех направлений деятельности, совершенствуя свои профессиональные компетенции для успешной работы.
              
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")