doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .page(id="page1")
      include blocks/header
      +header()
      .content
        .container
          .content__container
            aside.aside
              include blocks/aside-nav
            main.main
              h2.page__title Гостиница
              .textarea
                div.float-right
                  img(data-src="img/gallery/image8.jpg", alt="").lazy
                  img(data-src="img/gallery/image9.jpg", alt="").lazy
                  img(data-src="img/gallery/image10.jpg", alt="").lazy
                p Современная гостиница «Кондопога» создавалась как удобное и комфортное место для проживания иногородних и иностранных партнеров, посещающих предприятие с различными целями. Сегодня пользоваться услугами гостиницы могут все желающие.
                p Гости предприятия и города высоко ценят выгодное расположение гостиницы: центр города, тихая улочка, в шаговой доступности ресторан, магазины и остановка общественного транспорта. До территории комбината можно добраться пешком за 7-10 минут.
                p Светлая и уютная гостиница вмещает единовременно 34 человека. Номерной фонд составляют 15 двухместных стандартных номеров, 2 одноместных номера и 1 люкс. 
                p Во всех номерах беспроводной интернет, спутниковой телевидение, современное сантехническое оборудование, удобная мебель. К услугам проживающих ресторан, бар, автостоянка, сауна. 
                p Гостеприимный персонал, удобные номера, вкусная и разнообразная кухня создадут все условия для семейного отдыха и пребывания деловых людей.
                p Прекрасный вариант для тех, кто совмещает деловую поездку с посещением местных достопримечательностей Карелии. Персонал поможет спланировать поездки по Карелии и позаботится о вашем комфортном пребывании в гостинице.
                p Подробная информация об услугах и номерном фонде размещена на сайте гостиницы.
                p
                  strong Добро пожаловать!
                p.align-left ГОСТИНИЦА «КОНДОПОГА»<br> Адрес: г. Кондопога, ул. Советов 14<br>Контактный телефон: 8 (814-51) 7-99-42, 8 800 30 241 30<br>Контактный e-mail: hotelkondopoga@yandex.ru<br> Сайт: 
                  a(href="#") otel-v-karelii.ru
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")