doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .page(id="page1")
      include blocks/header
      +header()
      .content
        .container
          .content__container
            aside.aside
              include blocks/aside-nav
            main.main
              h1.page__title ОБЩАЯ ИНФОРМАЦИЯ
              .textarea
                p <strong>АО «Кондопожский ЦБК»</strong> - ведущий производитель газетной бумаги в России и в странах Европы. Комбинат основан в 1929 году. Промплощадка предприятия расположена в Северо-Западном Федеральном округе России, в г. Кондопога Республики Карелия. В 2018 году газетная бумага Кондопожского ЦБК удостоена "Знака качества XXI века" золотого достоинства. Сегодня АО «Кондопожский ЦБК» представляет собой современный производственный комплекс с высоким уровнем автоматизации и механизации технологических процессов, оснащенный оборудованием ведущих европейских производителей.
                p <strong>Место расположения: </strong><br> 186225 Республика Карелия, район Кондопожский,<br> город Кондопога, улица Промышленная, дом 2
                p <strong>Основная продукция:</strong><br> бумага газетная
                p <strong>Сопутствующая продукция:</strong><br> бумага для внутренних слоев гофрированного картона, бумага потребительская, бумага оберточная, дрожжи кормовые, лигносульфонаты технические
                p <strong>Генеральный директор:</strong><br> Толстов Виктор Тихонович
                p <strong>Полное фирменное наименование:</strong><br> Акционерное общество «Кондопожский целлюлозно-бумажный комбинат»
                p <strong>Сокращенное фирменное наименование:</strong><br> АО «Кондопожский ЦБК»
                p <strong>Полное фирменное наименование на английском языке:</strong><br> Joint-Stock Company Kondopoga Pulp-and-Paper Mill
                p <strong>Сокращенное фирменное наименование на английском языке:</strong><br> Kondopoga PPM JSC
                p <strong>Реквизиты:</strong><br> ИНН/КПП 1003018230/100301001<br> ОГРН 1181001008517<br> Расчетный счет 40702 810 9 9033 0002862<br> Банк ПАО "БАНК "САНКТ-ПЕТЕРБУРГ"<br> Корсчет банка 30101 810 9 0000 0000790<br> БИК 044030790<br> ИНН банка 7831000027<br> КПП банка 783501001
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")