doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .page(id="page1")
      include blocks/header
      +header()
      .content
        .container
          .content__container
            aside.aside
              include blocks/aside-nav
            main.main
              h2.page__title Лигносульфонаты технические
              .textarea
                img(data-src="img/gallery/image37.jpg", alt="").lazy.float-right
                p Лигносульфонаты технические производится в соответствии с требованиями ТУ 13-0281036-029-94 «Лигносульфонаты технические. Технические условия».
                p Лигносульфонаты технические изготавливаются марок А, В, Е, Ж, О. 
                p Лигносульфонаты технические жидкие - однородная текучая жидкость темно-коричневого цвета.
                ul.list
                  li 
                    strong Лигносульфонаты технические используются:
                  li в качестве связующего материала при производстве формовочных и стержневых смесей при литье;
                  li в производстве огнеупоров;
                  li как разжижитель сырьевой смеси для снижения влажности шлама при производстве цемента;
                  li как пластификатор цемента и бетона;
                  li при производстве технического углерода;
                  li в нефтяной промышленности;
                  li при изготовлении древесностружечных, древесноволокнистых и минераловатных строительных плит;
                  li для изготовления фанеры;
                  li в автодорожном строительстве и для других целей.
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")