ul
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/info.html") https://ruslanmmr.github.io/cbkpages/dest/info.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/sert.html") https://ruslanmmr.github.io/cbkpages/dest/sert.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/production.html") https://ruslanmmr.github.io/cbkpages/dest/production.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/newspaper.html") https://ruslanmmr.github.io/cbkpages/dest/newspaper.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/cardboard.html") https://ruslanmmr.github.io/cbkpages/dest/cardboard.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/consumer.html") https://ruslanmmr.github.io/cbkpages/dest/consumer.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/wrapping.html") https://ruslanmmr.github.io/cbkpages/dest/wrapping.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/lingosulphates.html") https://ruslanmmr.github.io/cbkpages/dest/lingosulphates.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/yeast.html") https://ruslanmmr.github.io/cbkpages/dest/yeast.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/safety.html") https://ruslanmmr.github.io/cbkpages/dest/safety.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/social-hospital.html") https://ruslanmmr.github.io/cbkpages/dest/social-hospital.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/hotel.html") https://ruslanmmr.github.io/cbkpages/dest/hotel.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/social-food.html") https://ruslanmmr.github.io/cbkpages/dest/social-food.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/youth.html") https://ruslanmmr.github.io/cbkpages/dest/youth.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/vets.html") https://ruslanmmr.github.io/cbkpages/dest/vets.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/sport.html") https://ruslanmmr.github.io/cbkpages/dest/sport.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/museum.html") https://ruslanmmr.github.io/cbkpages/dest/museum.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/gallery.html") https://ruslanmmr.github.io/cbkpages/dest/gallery.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/avangard.html") https://ruslanmmr.github.io/cbkpages/dest/avangard.html
  li
    a(target='_blank' href="https://ruslanmmr.github.io/cbkpages/dest/education.html") https://ruslanmmr.github.io/cbkpages/dest/education.html
