doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .page(id="page1")
      include blocks/header
      +header()
      .content
        .container
          .content__container
            aside.aside
              include blocks/aside-nav
            main.main
              h2.page__title Выставочный зал<br> истории Кондопожского ЦБК 
              .textarea
                .float-right
                  img(data-src="img/gallery/image17.jpg", alt="").lazy
                  img(data-src="img/gallery/image18.jpg", alt="").lazy
                  img(data-src="img/gallery/image19.jpg", alt="").lazy
                p Выставочный зал истории Кондопожского ЦБК находится в здании бывшего заводоуправления. Проект здания разработан Гипробумом г. Ленинграда в 1948 году. Современная экспозиция была открыта 27 июня 2009 г. к 80–летию предприятия. Ее основу составляют материалы Комнаты Трудовой Славы, которая активно работала в 70-ые, 80-ые годы. В трех залах музея освещен путь комбината от момента строительства (1923 г.) по настоящее время.
                p Большим интересом жителей и гостей города пользуется подробная, наглядная технологическая схема изготовления газетной бумаги с образцами полуфабрикатов и химикатов.
                p Кроме основной экспозиции, в музее есть небольшой кинозал, где можно посмотреть фильм о том, как создается кондопожская бумага от момента получения сырья, изготовления полуфабрикатов и основного продукта – газетной бумаги.
                ul.list.list_style2
                  li 
                  strong Виды деятельности:
                  li экскурсионно - просветительская;
                  li комплектование, учет и хранение фондов музея.
                ul.list.list_style2
                  li 
                  strong Коллекции музея:
                  li документы ветеранов предприятия;
                  li награды ветеранов Великой Отечественной войны и труда;
                  li трудовые награды предприятию (знамена, грамоты и памятные знаки комбината)
                  li альбомы фотографий по истории цехов предприятия;
                  li образцы первой бумаги с разных бумагоделательных машин;
                  li образцы продукции, выпускаемые предприятием в разные годы;
                  li технологическая схема изготовления газетной бумаги с образцами   полуфабрикатов и химикатов;
                  li спортивные награды и кубки команд предприятия; 
                  li подарки предприятию от коллег и партнеров на юбилейные даты.
                p Коллекция музея насчитывает около 1000 экспонатов, собранных за годы работы музея. Выставочный зал истории Кондопожского ЦБК является единственным промышленным музеем по целлюлозно-бумажной отрасли на территории Республики Карелия. 
                p.align-left
                  strong ВЫСТАВОЧНЫЙ ЗАЛ ИСТОРИИ КОНДОПОЖСКОГО ЦБК:<br> 
                  | Контактное лицо: Манойлина Татьяна Борисовна<br>
                  | Адрес: г. Кондопога, ул. Промышленная 2<br>
                  | Контактный телефон: 8(81451) 3-69-12.
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")