doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .page(id="page1")
      include blocks/header
      +header()
      .content
        .container
          .content__container
            aside.aside
              include blocks/aside-nav
            main.main
              h2.page__title БУМАГА ГАЗЕТНАЯ
              .textarea
                .float-right
                  img(data-src="img/gallery/image26.jpg", alt="").lazy
                  img(data-src="img/gallery/image27.jpg", alt="").lazy
                  img(data-src="img/gallery/image28.jpg", alt="").lazy
                p Бумага газетная производится в соответствии с требованиями ГОСТ 6445-74 «Бумага газетная. Технические условия».  
                p Бумага газетная в рулонах марок В, О, А, Б массой 1 м² 45,0 г и 48,8 г.  
                p Ширина рулона:  42 см, 59,4 см, 84 см, 126 см, 168 см и др. 
                p Диаметр рулонов от 85 до 125 см. Бумагу в рулонах другой ширины и другого диаметра рулонов изготавливают по согласованию между изготовителем и потребителем.
                p Бумага газетная предназначается для печатания на высокоскоростных печатных агрегатах газет, содержащих текст, штриховые и растровые черно-белые и цветные иллюстрации. 
                p Бумага газетная изготавливается из бисульфитной целлюлозы собственного производства, дефибрерной древесной массы, привозной сульфатной беленой целлюлозы из хвойной древесины. Технология производства волокнистых полуфабрикатов соответствует технологиям зарубежных производителей, что обеспечивает выпускаемой газетной бумаге высокий уровень качества. 
                p.uppercase
                  strong Бумага газетная тонкая 
                p Бумага газетная тонкая предназначается для печатания офсетным и иным способом печати газет, текстовых изданий с малым сроком службы.  
                p Бумага газетная тонкая производится в соответствии с требованиями СТО 33039595-004-2019 «Бумага газетная тонкая». 
                p Бумага газетная тонкая изготавливается в рулонах марки О массой 1 м² 38,0 г, 42,0 г, 43 г. 
                p Ширина рулона: 42 см, 59,4 см, 84 см,126 см, 168 см, др.  
                p Диаметр рулона: от 90 до 125 см. Бумагу в рулонах другой ширины и другого диаметра рулонов изготавливают по согласованию между изготовителем и потребителем.
                p.uppercase
                  strong Бумага газетная различного назначения  
                p Бумага газетная марки ОБ – предназначается для печати газет, массовых брошюр, для изготовления справочных печатных изданий и пособий, бланочной продукции и другой издательской продукции, не предназначенной для повторного использования (текстовые задания, экзаменационные билеты и т.д.), содержащих текст, штриховые иллюстрации и растровые преимущественно черно-белые иллюстрации.  
                p Бумага газетная различного назначения производится в соответствии с требованиями СТО 33039595-007-2019 «Бумага газетная различного назначения».
                ul.list.list_style2
                  li Бумага газетная различного назначения изготавливается в рулонах: 
                  li марки ОС массой 1 м² 42,0 г, 45,0 г 48,8 г, 52,0 г, 55,0 г, 60,0 г, 65,0 г,  
                  li марки ОБ массой 1 м² от 40,0 г до 66,0 г.
                p Ширина и диаметр рулонов бумаги устанавливается по согласованию между изготовителем и потребителем. 
                p Бумага газетная марки ОС – предназначается для печатания офсетным и (или) иным способом печати газет, текстовых изданий с малым сроком службы.
                p.uppercase
                  strong Бумага газетная в листах 
                p Бумага газетная в листах производится в соответствии с требованиями СТО 18022154-011-2015 «Бумага газетная в листах».   
                p Размеры листов 600*840 мм, 600*900 мм, 700*900 мм, 700*1000 мм, 700*1080 мм, 750*900 мм, 840*1080 мм. 
                p По заказу потребителей допускается изготовление бумаги другого размера. 
                p Количество листов в пачке – 500.  
                p Нарезается из бумаги газетной.  
                p Бумага газетная в листах изготавливается в пачках и предназначается для печатания газет на листовых печатных машинах. 
                p.uppercase
                  strong Бумага газетная повышенной массоемкости
                p Бумага газетная повышенной массоемкости производится в соответствии с требованиями СТО 18022154-013-2018 «Бумага газетная повышенной массоемкости».
                p Бумага газетная повышенной массоемкости изготавливается в рулонах марки О массой 1 м² 52,0 г, 55,0 г, 60,0 г, 65,0 г.  
                p Ширина рулона: 42 см, 59,4 см, 84 см, 126 см, 168 см и др. 
                p Диаметр рулонов: от 90 до 125 см. Бумагу в рулонах другой ширины и другого диаметра рулонов изготавливают по согласованию между изготовителем и потребителем.  
                p Бумага газетная повышенной массоемкости предназначается для печатания офсетным и иным способом печатания газет, текстовых изданий с малым сроком службы. 
                p.uppercase
                  strong Бумага типографская (пухлая)
                p Бумага типографская (пухлая) производится в соответствии с требованиями СТО 33039595-012-2019 «Бумага типографская (пухлая)». 
                p Бумага типографская (пухлая) изготавливается в рулонах марки БТП массой 1 м² 52,0 г, 55,0 г, 60,0 г.   
                p Ширина рулона соответствует требованиям ГОСТ 1342-78. 
                p Диаметр рулонов: от 90 до 125 см. Бумагу в рулонах другой ширины и другого диаметра рулонов изготавливают по согласованию между изготовителем и потребителем.
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")