doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .page(id="page1")
      include blocks/header
      +header()
      .content
        .container
          .content__container
            aside.aside
              include blocks/aside-nav
            main.main
              h2.page__title ПРОДУКЦИЯ
              .textarea
                .float-right
                  img(data-src="img/gallery/image23.jpg", alt="").lazy
                  img(data-src="img/gallery/image24.jpg", alt="").lazy
                  img(data-src="img/gallery/image25.jpg", alt="").lazy
                p АО «Кондопожский ЦБК» - ведущее предприятие по производству газетной бумаги в России. Более 80% выпускаемой бумаги реализуется за рубеж. Поставки газетной бумаги осуществляются по России и в более 50 стран мира, включая Европу, Индию, Пакистан, страны Юго-Восточной Азии, Латинской Америки. 
                p Лидером АО «Кондопожский ЦБК» является не только по объемам производства бумаги, но также по качеству выпускаемой продукции. Бумага газетная имеет высокие качественные показатели, которые намного выше требований государственных стандартов Российской Федерации.
                p Качество бумаги АО «Кондопожский ЦБК» регулярно подтверждается в независимых испытательных центрах при проведении добровольной сертификации соответствия продукции требованиям нормативных документов, в соответствии с которыми данная продукция выпускается, а также потребителями продукции предприятия. Подтверждением данного факта - большой спрос на бумагу АО «Кондопожский ЦБК». Основными покупателями газетной бумаги являются типографии и издательства.
                p Газетная бумага Кондопожского целлюлозно-бумажного комбината признана одной из самых экологически чистых в мире – почти на 80 % состоит из древесной массы и лишь на 20% из целлюлозы. Благодаря традиционной технологии производства качество производимой бумаги значительно превосходит отечественные и зарубежные аналоги. Газетная бумага отмечена многими международными наградами и сертификатами качества.
                p Служба технического контроля и мощная лабораторная база позволяют контролировать точность производственных процессов на всех этапах, производят оценку качественных показателей газетной бумаги на современных автоматических приборах по методикам международных стандартов ISO. 
                p Высокоскоростные бумагоделательные машины с двухсеточным формованием бумажного полотна оснащены современными автоматизированными системами управления. 
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")