doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .page(id="page1")
      include blocks/header
      +header()
      .content
        .container
          .content__container
            aside.aside
              include blocks/aside-nav
            main.main
              h1.page__title Промышленная Безопасность<br> и охрана труда
              .textarea
                div.float-right
                  img(data-src="img/gallery/image2.jpg", alt="").lazy
                  img(data-src="img/gallery/image3.jpg", alt="").lazy
                  img(data-src="img/gallery/image4.jpg", alt="").lazy
                  img(data-src="img/gallery/image5.jpg", alt="").lazy
                h5 Политика АО «Кондопожский ЦБК» в области промышленной безопасности, охраны труда и окружающей среды 
                p АО «Кондопожский ЦБК», одно из крупнейших предприятий России и Европы, специализирующееся на производстве газетной бумаги. Предприятие осознает характер и масштабы влияния своей деятельности на работников и окружающую среду и понимает свою ответственность за обеспечение безаварийной производственной деятельности на опасных производственных объектах, безопасных условий труда работников, за сохранность природной среды на благо нынешних и будущих поколений. 
                h5 Наши стратегические цели:
                p Отсутствие производственного травматизма и профессиональных заболеваний; 
                p Отсутствие аварий и пожаров; 
                p Достижение лидерства в сфере экологической безопасности среди предприятий, перерабатывающих древесину.
                h5 Основные принципы достижения указанных целей:
                p предотвращение производственного травматизма, профессиональных заболеваний;
                p снижение негативного воздействия на окружающую среду;
                p снижение риска возникновения пожароопасных и аварийных ситуаций; 
                p уменьшение масштабов возможных аварий и пожаров, предотвращение их распространения за территорию производственных объектов предприятия.
                h5 Пропаганда безопасности труда на производстве: 
                p фотографии; 
                p тематические плакаты, картинки; 
                p лозунги; 
                p видеоматериал;
                p Здоровье и жизнь человека - самая высокая ценность, работа должна быть не только любимой, но и безопасной. Для работников целлюлозно-бумажной, гидролизной, лесохимической и деревообрабатывающей промышленности это особенно важно.
                h3 Охрана труда 
                p <i>Обучение специалистов и работников предприятия в области промышленной безопасности и охраны</i>
                p На предприятии постоянно проводится обучение в области промышленной безопасности и охраны труда по направлению - обучение безопасным методам и приемам выполнения работ на высоте с проверкой теоретических и практических навыков. 
                p <i>Внутренний аудит структурных подразделений предприятия в области охраны труда</i>
                p Еженедельно специалисты отдела охраны труда посещают цеха (объекты) предприятия. В ходе проверок выявляются отступления от требований правил по охране труда и выдаются соответствующие документы для устранения нарушений. 
                h3 Медосмотры 
                p На базе предприятия функционирует поликлиника, которая ежегодно принимает работников и сотрудников предприятия в своих стенах для прохождения обязательных медицинских осмотров (обследований). 
                p 
                  i Статистика по травматизму
                p
                  i Функционал сотрудников отдела Охраны труда
                p 
                  i Расследование несчастных случаев 
                p Проведение анализа причин производственного травматизма и профессиональных заболеваний 
                p
                  i Мероприятия в области промышленной безопасности и охраны труда 
                p 
                  i Организация выдачи на предприятии спецодежды, спецобуви и других средств индивидуальной защиты 
                p На предприятии ведётся персонифицированная выдача спецодежды, спецобуви и средств индивидуальной защиты. На каждого работника в электронной системе специализированной организации ведётся учетная карточка, в которую вносится одежда, обувь и СИЗ согласно норм предприятия. Точность прогнозирования до 99%, так как размеры определены с учетом антропогенных данных работников и индивидуальных особенностей. 
                p Склад хранения одежды, обуви и СИЗ организован поставщиком на территории АО "Кондопожский ЦБК" с поддержанием запасов ежемесячной потребности предприятия. Выдача производится с возможностью примерки и подгонки спецодежды, обуви. Сотрудники предприятия ежемесячно получают информацию о необходимости получения спецодежды, спецобуви и средств индивидуальной защиты, подлежащих замене по срокам, что позволило увеличить обеспеченность сотрудников предприятия до 98%. 
                p Специалисты отдела охраны труда с помощью программного продукта осуществляют оперативный контроль за обеспечением сотрудников СИЗ. На предприятии создана постоянная рабочая группа, состоящая из представителей поставщика, отдела охраны труда и профсоюзной организации предприятия, которая осуществляет контроль качества продукции, реагирует на обращения и пожелания сотрудников предприятия, решает вопросы замены устаревших средств индивидуальной защиты на современные образцы. 
                h3 Промышленная безопасность 
                h3 Пожарная безопасность 
                h3 ГО и ЧС 
                h3 Экология и безопасность 
                h3 Безопасность дорожного движения 
                p Проводятся рейды по соблюдению правил дорожного движения на территории предприятия 
                h3 Надзор за техническим состоянием зданий и сооружений
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")