doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .page(id="page1")
      include blocks/header
      +header()
      .content
        .container
          .content__container
            aside.aside
              include blocks/aside-nav
            main.main
              h2.page__title СЕРТИФИКАЦИЯ
              .certificates
                .certificates__block
                  img(data-src="img/certificates/certificate1.jpg", alt="").lazy
                .certificates__block
                  img(data-src="img/certificates/certificate2.jpg", alt="").lazy
                .certificates__block
                  img(data-src="img/certificates/certificate3.jpg", alt="").lazy
                .certificates__block
                  img(data-src="img/certificates/certificate4.jpg", alt="").lazy
                .certificates__block
                  img(data-src="img/certificates/certificate5.jpg", alt="").lazy
                .certificates__block
                  img(data-src="img/certificates/certificate6.jpg", alt="").lazy
                .certificates__block
                  img(data-src="img/certificates/certificate7.jpg", alt="").lazy
                .certificates__block
                  img(data-src="img/certificates/certificate8.jpg", alt="").lazy
                .certificates__block
                  img(data-src="img/certificates/certificate9.jpg", alt="").lazy
                .certificates__block
                  img(data-src="img/certificates/certificate10.jpg", alt="").lazy
                .certificates__block
                  img(data-src="img/certificates/certificate11.jpg", alt="").lazy
                .certificates__block
                  img(data-src="img/certificates/certificate12.jpg", alt="").lazy
                .certificates__block
                  img(data-src="img/certificates/certificate13.jpg", alt="").lazy
                .certificates__block
                  img(data-src="img/certificates/certificate14.jpg", alt="").lazy
                .certificates__block
                  img(data-src="img/certificates/certificate15.jpg", alt="").lazy
                .certificates__block
                  img(data-src="img/certificates/certificate16.jpg", alt="").lazy
                .certificates__block.certificates__block_big
                  img(data-src="img/certificates/certificate17.jpg", alt="").lazy
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")