doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .page(id="page1")
      include blocks/header
      +header()
      .content
        .container
          .content__container
            aside.aside
              include blocks/aside-nav
            main.main
              h2.page__title Поликлиника
              .textarea
                div.float-right
                  img(data-src="img/gallery/image6.jpg", alt="").lazy
                  img(data-src="img/gallery/image7.jpg", alt="").lazy
                p Поликлиника ОАО «Кондопога» - оснащена самым современным диагностическим оборудованием. На постоянном обслуживании в поликлинике находятся 5350 человек, основную часть которых составляют работники АО «Кондопожский ЦБК» и ветераны предприятия. Средняя посещаемость в  поликлинике составляет 520 человек в день.
                ul.list
                  li 
                    strong Врачи-специалисты Поликлиники оказывают:
                  li профилактическую
                  li консультативную
                  li лечебно-диагностическую помощь
                p Врачебный персонал имеют квалифицированные категории, степени кандидата наук. Более 70% врачебного персонала имеют высшую и первую врачебные категории.
                p В поликлинике  оказывают медицинскую помощь следующие врачи-специалисты: терапевт, акушер-гинеколог, кардиолог, пульмонолог, невролог, эндокринолог, стоматолог – терапевт , отоларинголог, офтальмолог, гастроэнтеролог, сосудистый хирург, хирург, уролог, травматолог - ортопед, дерматолог, нефролог, педиатр, врач ультразвуковой диагностики, врач-рентгенолог, врач функциональной диагностики, врач-эндоскопист.
                p Поликлиника начала свою деятельность в 2002 году. С июля 2009 года, наряду с другими медицинскими организациями Республики Карелия, учреждение вошло в реестр медицинских организаций, участвующих в реализации территориальной программы обязательного медицинского страхования (ОМС).
                ul.list
                  li 
                    strong Основные направления деятельности Поликлиники:
                  li Медицинские услуги по  программе обязательного медицинского страхования;
                  li Проведение периодических и предварительных медицинских осмотров;
                  li Медицинские услуги по программе добровольного медицинского страхования; 
                  li Платные медицинские услуги организациям и физическим лицам.
                p Благодаря современной оснащенности лаборатории и  совместной работе с двумя крупнейшими лабораториями Санкт-Петербурга в поликлинике можно выполнить широчайший спектр лабораторных исследований.
                p В рамках системы ОМС в поликлинике функционирует дневной стационар на 8 коек, ориентированный на лечение пациентов с заболеваниями опорно-двигательной системы, пищеварения, а также заболеваниями легких и головного мозга.
                p На сайте поликлиники работает система электронной записи к врачам -специалистам. Более 15 лет врачи поликлиники используют электронную информационно-медицинскую систему. 
                p Подробная информация об учреждении и оказываемых услугах размещена<br> 
                  a(href="#") на сайте поликлиники.
                p Контактное лицо: главный врач поликлиники – Мадани Салех Риад<br> Контактный e-mail: madani@kbk.onego.ru<br> Контактный телефон: 8 (814 51) 3-67-35
                p Адрес: г. Кондопога, ул. М.Горького 8а<br> Тел./факс регистратуры: 8(8451) 7-41-65<br> Контактный e-mail: kclinic@mail.ru<br> Сайт: 
                  a(href="#") kclinic.sampo.ru
                p Регистратура платных услуг:<br> Контактный телефон: 8(81451) 3-60-08<br> Контактный e-mail: panova@kbk.onego.ru
                

              
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")