doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .page(id="page1")
      include blocks/header
      +header()
      .content
        .container
          .content__container
            aside.aside
              include blocks/aside-nav
            main.main
              h2.page__title Cпорт
              .textarea
                .float-right
                  img(data-src="img/gallery/image13.jpg", alt="").lazy
                  img(data-src="img/gallery/image14.jpg", alt="").lazy
                  img(data-src="img/gallery/image15.jpg", alt="").lazy
                  img(data-src="img/gallery/image16.jpg", alt="").lazy
                p Проведение физкультурно-оздоровительных и спортивных мероприятий для работников предприятия и членов их семей является важным направлением социальной политики АО «Кондопожский ЦБК». Основная цель работы в этом направлении – вовлечение к регулярным занятиям спортом и здоровому образу жизни максимального числа работников предприятия.
                p Сотрудники предприятия и их дети занимаются в городских секциях по легкой атлетике и лыжным гонкам, плаванию, художественной гимнастики, в секциях волейбола, баскетбола, футбола, хоккея с шайбой,. Работники предприятия активно участвуют в соревнованиях всех уровней - от городских до международных. 
                p Физоргами цехов совместно с профсоюзной организацией и администрацией предприятия в 2019 году организована Спартакиада, посвященная 90-летию Кондопожского ЦБК. Соревнования проходят по восьми видам спорта, участие принимают представители всех цехов и подразделений комбината и предприятий-партнеров, студенты техникума и ветераны Кондопожского ЦБК.
                p Традиция проведения рабочих спартакиад уходит в далёкое прошлое — в 50-е годы прошлого века на комбинате впервые начались соревнования между цехами по различным видам спорта. 4 апреля 1955 года вышел приказ по комбинату «О проведении фабрично-заводской Спартакиады Кондопожского ЦБК». Было утверждено положение о первой летней Спартакиаде физкультурных коллективов цехов Кондопожского ЦБК. В январе 1958 года прошла первая после войны зимняя командная Спартакиада.
                p Поддержка здорового образа жизни сегодня более чем актуальна: физически здоровые люди вносят в повседневную работу хороший настрой, являются более организованными и острее чувствуют свою ответственность за конечные результаты общего дела.
                p Контактное лицо: Кузнецов Алексей Сергеевич<br> Контактный телефон: 8(81451) 3-60-00<br> Контактный e-mail: 
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")