doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .page(id="page1")
      include blocks/header
      +header()
      .content
        .container
          .content__container
            aside.aside
              include blocks/aside-nav
            main.main
              h2.page__title Совет ветеранов
              .textarea
                img(data-src="img/gallery/image12.jpg", alt="").lazy.float-right
                p Совет ветеранов Кондопожского ЦБК является важным связующим звеном между администрацией предприятия и ветеранами.
                p Совет осуществляет свою деятельность на общественных началах и руководствуется Программой ветеранской организации, утверждаемой на календарный год.
                p На учете организации состоит 3 000 ветеранов. Закончив трудовую дееятельность, они продолжают жить интересами своего предприятия, вместе с коллективом переживают неудачи и радуются успехам.
                p Работает актив Совета — 20 человек, каждый из которых курирует работу с ветеранами соответствующего подразделения.
                ul.list.list_style2
                  li
                    strong Основные направления работы Совета ветеранов:
                  li Поздравление ветеранов с праздниками и организация участия ветеранов   в праздничных мероприятиях (День Победы, День пожилого человека,   Новый Год, Международный женский день, День работника леса и др.);
                  li Посещение на дому больных и одиноких ветеранов;
                  li Поздравление ветеранов с юбилейными датами со дня рождения;
                  li Проведение заседаний актива Совета ветеранов;
                  li Постоянное внимание к нуждам и запросам ветеранов, оказание помощи нуждающимся;
                  li Организация участия ветеранов в спортивных, культурных, творческих и иных мероприятиях.
                p 
                  i Контактное лицо: Куликова Людмила Ивановна
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")