doctype html
html(lang="ru")
  head
    include blocks/head
  body.body
    .page(id="page1")
      include blocks/header
      +header()
      .content
        .container
          .content__container
            aside.aside
              include blocks/aside-nav
            main.main
              h2.page__title СОВЕТ МОЛОДЫХ СПЕЦИАЛИСТОВ
              .textarea
                img(data-src="img/gallery/image11.jpg", alt="").lazy.float-right
                p Совет молодых специалистов (СМС) является важным связующим звеном между администрацией предприятия и рабочей молодежью.
                p СМС осуществляет свою деятельность на общественных началах и руководствуется планом мероприятий организации, утверждаемым на календарный год.
                p СМС – это объединение инициативной молодежи предприятия в возрасте до 35 лет, призванное для поддержания нравственного, интеллектуального, профессионального, спортивного и творческого развития молодых специалистов. Основные цели деятельности СМС - консолидация молодых специалистов предприятия для решения ряда важнейших задач в области реализации молодежной политики.
                p За всю историю Кондопожского ЦБК было несколько Советов молодых специалистов. В настоящее время в состав СМС входит 18 активных работников предприятия. В данном составе организация работает с 2011 года.

                ul.list.list_style2
                  li
                    strong Основные направления работы СМС:
                  li привлечение активной молодежи к участию и проведению воспитательной, рационализаторской, культурно-массовой, спортивной работы среди работников предприятия и членов их семей;
                  li поддержание и продвижение инициативы в производственной и социально-культурной жизни предприятия, повышение деловой активности молодых сотрудников предприятия;
                  li организация и проведение спортивных, интеллектуальных, творческих, экологических мероприятий для работников предприятия (пейнтбол, карельские городки («кююккя»), кубок профессионального мастерства, Мисс ЦБК, интеллектуальные игры, квесты и соревнования в День физкультурника, День работника леса и др.);
                  li участие в городских, районных и региональных круглых столах по вопросам и проблемам молодёжи, слетах и конкурсах;
                  li оказание помощи в адаптации молодых специалистов к работе на предприятии, проведение работы по формированию и укреплению корпоративного духа;
                  li оказание помощи в организации и проведении республиканских, районных и городских культурно-массовых и спортивных мероприятий, экологических акций (День Победы, городские экологические субботники, соревнования по карельским городкам («кююккя»), конкурс чтецов, экстрим-забег «Медвежья тропа» и др.);
                  li активное участие в общественной жизни города и района. Члены СМС входят в состав общественных советов при Главе Администрации Кондопожского муниципального района, принимают участие в общественных форумах, в проектах Программы поддержки местных инициатив;
                  li взаимодействие с педагогами и студентами Кондопожского отделения ГБП ОУ РК «Петрозаводский лесотехнический техникум», участие в проведении профориентационных мероприятий для школьников на базе техникума;
                  li взаимодействие с Советом ветеранов и профсоюзной организацией предприятия, оказание помощи в поздравлении ветеранов Великой отечественной войны, узников концлагерей, вдов ветеранов, участников трудового фронта и жителей блокадного Ленинграда с Днем Победы.
                p Контактное лицо: Фокин Андрей Геннадьевич<br> Группа СМС в социальной сети «ВКонтакте»: https://vk.com/kondopogasms
      include blocks/footer
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="js/libs.min.js")                  
    script(src="js/common.min.js")