.about
  .container
    .about__container
      .about__section
        .about__image-container
          img(data-src="img/image1.jpg", alt="").lazy.about__image
        span.about__label История предприятия
      .about__text-container
        span.about__title.bold Кондопожский<br> целлюлозно-бумажный комбинат
        p.about__text Одно из крупнейших предприятий России и Европы, специализирующееся на производстве газетной бумаги. Предприятие расположено в г. Кондопога.
      