.aside-nav
  .aside-nav__container
    ul.aside-nav__list
      li.aside-nav__item.aside-nav__item_stage1
        a(href="#").aside-nav__link.aside-nav__link_stage1 О ПРЕДПРИЯТИИ
        ul.aside-nav__list.aside-nav__list_dropdown.aside-nav__list_stage2
          li.aside-nav__item
            a(href="#").aside-nav__link.aside-nav__link_stage2 Общая информация
          li.aside-nav__item
            a(href="/info.html").aside-nav__link.aside-nav__link_stage2 История
          li.aside-nav__item
            a(href="#").aside-nav__link.aside-nav__link_stage2 Во главе предприятия
          li.aside-nav__item
            a(href="/sert.html").aside-nav__link.aside-nav__link_stage2 Сертификация
      li.aside-nav__item.aside-nav__item_stage1
        a(href="#").aside-nav__link.aside-nav__link_stage1 ПРОДУКЦИЯ
        ul.aside-nav__list.aside-nav__list_dropdown.aside-nav__list_stage2
          li.aside-nav__item
            a(href="/production.html").aside-nav__link.aside-nav__link_stage2 Продукция
          li.aside-nav__item
            a(href="/newspaper.html").aside-nav__link.aside-nav__link_stage2 Газетная бумага
          li.aside-nav__item
            a(href="/cardboard.html").aside-nav__link.aside-nav__link_stage2 Бумага для внутренних слоёв гофрированного картона
          li.aside-nav__item
            a(href="/consumer.html").aside-nav__link.aside-nav__link_stage2 Бумага потребительская
          li.aside-nav__item
            a(href="/wrapping.html").aside-nav__link.aside-nav__link_stage2 Бумага оберточная
          li.aside-nav__item
            a(href="/lingosulphates.html").aside-nav__link.aside-nav__link_stage2 Лигносульфонаты технические
          li.aside-nav__item
            a(href="/yeast.html").aside-nav__link.aside-nav__link_stage2 Дрожжи кормовые
      li.aside-nav__item.aside-nav__item_stage1
        a(href="#").aside-nav__link.aside-nav__link_stage1 УСТОЙЧИВОЕ РАЗВИТИЕ
        ul.aside-nav__list.aside-nav__list_dropdown.aside-nav__list_stage2
          li.aside-nav__item
            a(href="/safety.html").aside-nav__link.aside-nav__link_stage2 Промышленная безопасность<br> и охрана труда
          li.aside-nav__item
            a(href="").aside-nav__link.aside-nav__link_stage2 Экология
          li.aside-nav__item
            a(href="").aside-nav__link.aside-nav__link_stage2 Социальная политика
            ul.aside-nav__list.aside-nav__list_dropdown.aside-nav__list_stage3
              li.aside-nav__item
                a(href="/social-hospital.html").aside-nav__link.aside-nav__link_stage3 Поликлиника
              li.aside-nav__item
                a(href="/hotel.html").aside-nav__link.aside-nav__link_stage3 Гостиница
              li.aside-nav__item
                a(href="/social-food.html").aside-nav__link.aside-nav__link_stage3 Комбинат общественного питания
          li.aside-nav__item
            a(href="/youth.html").aside-nav__link.aside-nav__link_stage2 Совет молодых<br> специалистов
          li.aside-nav__item
            a(href="/vets.html").aside-nav__link.aside-nav__link_stage2 Совет ветеранов
          li.aside-nav__item
            a(href="").aside-nav__link.aside-nav__link_stage2 Профсоюзная организация
          li.aside-nav__item
            a(href="/sport.html").aside-nav__link.aside-nav__link_stage2 Спорт
          li.aside-nav__item
            a(href="/museum.html").aside-nav__link.aside-nav__link_stage2 Музей
          li.aside-nav__item
            a(href="").aside-nav__link.aside-nav__link_stage2 Юбилейные мероприятия
          li.aside-nav__item
            a(href="").aside-nav__link.aside-nav__link_stage2 Устойчивое развитие
      li.aside-nav__item.aside-nav__item_stage1
        a(href="#").aside-nav__link.aside-nav__link_stage1 ПРЕСС-ЦЕНТР
        ul.aside-nav__list.aside-nav__list_dropdown.aside-nav__list_stage2
          li.aside-nav__item
            a(href="#").aside-nav__link.aside-nav__link_stage2 Новости
          li.aside-nav__item
            a(href="#").aside-nav__link.aside-nav__link_stage2 События
          li.aside-nav__item
            a(href="#").aside-nav__link.aside-nav__link_stage2 Информация
          li.aside-nav__item
            a(href="/gallery.html").aside-nav__link.aside-nav__link_stage2 Фотогалерея
          li.aside-nav__item
            a(href="#").aside-nav__link.aside-nav__link_stage2 Видео
          li.aside-nav__item
            a(href="/avangard.html").aside-nav__link.aside-nav__link_stage2 Газета «Авангард»
      li.aside-nav__item.aside-nav__item_stage1
        a(href="#").aside-nav__link.aside-nav__link_stage1 КОНТАКТЫ