.aside-nav
  .aside-nav__container
    ul.aside-nav__list
      li.aside-nav__item.aside-nav__item_stage1
        a(href="#").aside-nav__link.aside-nav__link_stage1 О ПРЕДПРИЯТИИ
        ul.aside-nav__list.aside-nav__list_dropdown.aside-nav__list_stage2
          li.aside-nav__item
            a(href="#").aside-nav__link.aside-nav__link_stage2 Общая информация
          li.aside-nav__item
            a(href="/info.html").aside-nav__link.aside-nav__link_stage2 История
          li.aside-nav__item
            a(href="#").aside-nav__link.aside-nav__link_stage2 Во главе предприятия
          li.aside-nav__item
            a(href="/sert.html").aside-nav__link.aside-nav__link_stage2 Сертификация
      li.aside-nav__item.aside-nav__item_stage1
        a(href="#").aside-nav__link.aside-nav__link_stage1 ПРОДУКЦИЯ
      li.aside-nav__item.aside-nav__item_stage1
        a(href="#").aside-nav__link.aside-nav__link_stage1 УСТОЙЧИВОЕ РАЗВИТИЕ
      li.aside-nav__item.aside-nav__item_stage1
        a(href="#").aside-nav__link.aside-nav__link_stage1 ПРЕСС-ЦЕНТР
        ul.aside-nav__list.aside-nav__list_dropdown.aside-nav__list_stage2
          li.aside-nav__item
            a(href="#").aside-nav__link.aside-nav__link_stage2 Новости
          li.aside-nav__item
            a(href="#").aside-nav__link.aside-nav__link_stage2 События
          li.aside-nav__item
            a(href="#").aside-nav__link.aside-nav__link_stage2 Информация
          li.aside-nav__item
            a(href="/gallery.html").aside-nav__link.aside-nav__link_stage2 Фотогалерея
          li.aside-nav__item
            a(href="#").aside-nav__link.aside-nav__link_stage2 Видео
          li.aside-nav__item
            a(href="#").aside-nav__link.aside-nav__link_stage2 Газета «Авангард»
      li.aside-nav__item.aside-nav__item_stage1
        a(href="#").aside-nav__link.aside-nav__link_stage1 КОНТАКТЫ