footer.footer
  .container
    .footer__container
      .footer__section
        .footer__block
          span.footer__info 186220, Республика Карелия <br> г. Кондопога, ул. Промышленная, д. 2
        .footer__block
          span.footer__numbers телефон: 
            a(href="tel:814519285") (814-51) 7-92-85
            |, 
            a(href="tel:8145136500") (814-51) 3-65-00
          span.footer__faks факс: 
            a(href="tel:8145136083") (814-51) 3-60-83
        .footer__block
          span.footer__email e-mail: 
            a(href="emal:kbk@kbk.onego.ru") kbk@kbk.onego.ru
        .footer__block
          span.footer__press Пресс-служба: 
            a(href="emal:pressa@kbk.onego.ru") pressa@kbk.onego.ru
        .footer__block
          .socials
            ul.socials__list
              li.socials__item
                a(href="#").socials__link
                  img(src="img/icons/ico-vk.svg", alt="")
      .footer__section
        nav.nav.footer__nav
          ul.nav__list
            li.nav__item
              a(href="#").nav__link о предприятии
            li.nav__item
              a(href="#").nav__link продукция
            li.nav__item
              a(href="#").nav__link устойчивое развитие
            li.nav__item
              a(href="#").nav__link пресс-центр
            li.nav__item
              a(href="#").nav__link контакты
      span.copy Clever Marketing<br> 2018