.geography.block
  .container
    span.title.geography__title ГЕОГРАФИЯ ПРОДАЖ
  .geography__container
    .container
      .geography__image-container
        img(data-src="img/map.svg", alt="").lazy.geography__image